@keyframes loading {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(359deg) scale(0.8);
  }
}
:root {
  /*
      --accent-color: #868cff;
      --accent-color-a: #6b6fcc;
      --accent-color-b: #505399;
      --accent-color-c: #353765;
      --background: #1c1c1c;
      --search-button: #cccccc;
      --search-box-bg: #333333;
      --search-box-border: #161616;
      --search-box-hover: #444444;
      --results-background: #161616;
      --results-border: transparent; //#333333;
      --menu-shade: #00000065;
      //--menu-shadow: #000000;
      --text-color: #eeeeee;
      --text-stark: #ffffff;
      --hover-bg: #242424;
  */
  --titlecard-color: var(--results-background);
  --active-bg: var(--accent-color);
  --active-fg: var(--results-background);
}

* {
  scrollbar-width: thin !important;
  scrollbar-color: var(--accent-color) rgba(0, 0, 0, 0) !important;
  box-sizing: border-box;
  transition: 0.1s;
  outline: none;
}

*::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}

*::-webkit-scrollbar-thumb {
  background: var(--accent-color) !important;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0) !important;
}

::-moz-selection {
  color: var(--active-fg);
  background: var(--active-bg);
}

::selection {
  color: var(--active-fg);
  background: var(--active-bg);
}

body,
html {
  height: 100%;
  width: 100%;
  line-height: 1.3;
}

html {
  font-family: "Radio Canada", sans-serif;
  /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;*/
  font-size: 18px;
  /*@include resFont(760px, 14px);*/
}
@media screen and (max-width: 1180px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 840px) {
  html {
    font-size: 15px;
  }
}

body {
  color: var(--text-color);
  background: var(--background);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.fa, .search-suggest a, primary, secondary {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/*a {
    &:link {
        color: var(--anchor-link);
    }
    &:visited {
        color: var(--anchor-visited);
    }
    &:hover {
        color: var(--anchor-hover);
    }
    &:active {
        color: var(--anchor-active);
    }
}*/
.fa.small {
  font-size: 0.8rem;
}
.fa.mid {
  font-size: 1.3rem;
}
.fa.big {
  font-size: 1.6rem;
}
.fa.fa-menu, .fa.fa-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.22rem;
  width: 2.22rem;
  transform: translateX(0.6rem);
  border-radius: 0.25rem;
}
@media screen and (max-width: 540px) {
  .fa.fa-menu, .fa.fa-close {
    transform: translateX(-0.6rem);
  }
}
.fa.fa-menu:hover, .fa.fa-menu:focus, .fa.fa-close:hover, .fa.fa-close:focus {
  background: var(--hover-bg);
}
.fa.fa-menu:active::before, .fa.fa-close:active::before {
  color: var(--accent-color);
}
.fa.splash {
  animation: loading 2s infinite linear;
  fill: var(--text-color);
  width: 100%;
  max-width: 5rem;
}

content {
  height: 100%;
  width: 100%;
  z-index: 1;
}

scrolltop {
  height: 3rem;
  width: 3rem;
  color: var(--active-fg);
  background: var(--active-bg);
  border-radius: 0.25rem;
  position: fixed;
  right: 2rem;
  bottom: 4rem;
  opacity: 0.7;
  z-index: 1;
}
@media screen and (max-width: 540px) {
  scrolltop {
    right: 1.5rem;
  }
}
scrolltop:hover, scrolltop:focus {
  opacity: 1;
}
scrolltop.disable {
  opacity: 0;
  z-index: -1;
}

nav, backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

nav {
  background: transparent;
  z-index: 2;
}
nav backdrop {
  z-index: 0;
  opacity: 0;
  background: var(--menu-shade);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: opacity 0.1s linear;
}
nav sidebar {
  z-index: 1;
  position: fixed;
  top: 0;
  right: -22rem;
  height: 100%;
  width: 22rem;
  transition: right 0.1s ease-in-out, left 0.1s ease-in-out;
  background: var(--results-background);
  box-shadow: 0px 0 10px 5px var(--menu-shade);
  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 540px) {
  nav sidebar {
    left: -22rem;
  }
}
nav sidebar top {
  padding: 1rem 2rem 0 2rem;
  /*border-bottom: 1px solid var(--results-border);
  background: var(--background);
  span {
      font-size: 1.2rem;
      font-weight: 600;
  }*/
}
nav sidebar top .version {
  font-size: 0.6rem;
  font-weight: 300;
  color: var(--text-color);
  opacity: 0.25;
  padding-top: 0.6rem;
}
@media screen and (max-width: 540px) {
  nav sidebar top {
    padding: 1rem 1.5rem 0 1.5rem;
  }
}
nav sidebar bottom {
  margin: 0.4rem 0 1rem 0;
  padding: 1rem 2rem;
  row-gap: 2rem;
}
@media screen and (max-width: 540px) {
  nav sidebar bottom {
    padding: 1rem 1.5rem;
  }
}
nav sidebar bottom section {
  gap: 0.5rem;
}
nav sidebar bottom section i.fa, nav sidebar bottom section span {
  opacity: 0.9;
}
nav sidebar bottom section a {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: left;
  width: 100%;
  padding: 0.8rem 1rem;
  background: var(--background);
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
nav sidebar bottom section a:hover, nav sidebar bottom section a:focus {
  background: var(--hover-bg);
  border-color: var(--results-border);
}
nav sidebar bottom section a:hover i.fa, nav sidebar bottom section a:hover span, nav sidebar bottom section a:focus i.fa, nav sidebar bottom section a:focus span {
  opacity: 1;
}
nav sidebar bottom section a:active {
  color: var(--accent-color);
  transform: translateY(0.2rem);
}
nav sidebar bottom section a.active {
  cursor: default;
  color: var(--active-fg);
  background: var(--active-bg);
  transform: translateY(0);
  flex-grow: 2 !important;
}
nav sidebar bottom section a.active i.fa, nav sidebar bottom section a.active span {
  opacity: 1;
}
nav sidebar bottom section btn {
  cursor: pointer;
  text-align: center;
  padding: 0.8rem 1rem;
  background: var(--background);
  border-radius: 0.25rem;
}
nav sidebar bottom section btn:hover, nav sidebar bottom section btn:focus {
  background: var(--hover-bg);
  border-color: var(--results-border);
}
nav sidebar bottom section btn:hover i.fa, nav sidebar bottom section btn:hover span, nav sidebar bottom section btn:focus i.fa, nav sidebar bottom section btn:focus span {
  opacity: 1;
}
nav sidebar bottom section btn:active {
  color: var(--accent-color);
  transform: scale(0.9);
}
nav sidebar bottom section btn.active {
  cursor: default;
  color: var(--active-fg);
  background: var(--active-bg);
  transform: scale(1);
  flex-grow: 2 !important;
}
nav sidebar bottom section btn.active i.fa, nav sidebar bottom section btn.active span {
  opacity: 1;
}

nav.navin backdrop {
  opacity: 1;
}
nav.navin sidebar {
  right: 0;
  max-width: calc(100% - 2rem);
}
@media screen and (max-width: 540px) {
  nav.navin sidebar {
    left: 0;
  }
}

header {
  width: 100%;
}
header top.flex {
  display: none;
}
@media screen and (max-width: 540px) {
  header top.flex {
    display: flex;
  }
  header .slim {
    display: none;
  }
  header .search-box.shady {
    width: 100%;
    max-width: 100%;
  }
}

footer {
  font-size: 0.8rem;
}

main.load {
  row-gap: 2.5rem;
}
main.load > span {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
main.results {
  background: var(--results-background);
  border-top: 1px solid var(--results-border);
  border-bottom: 1px solid var(--results-border);
}
@media screen and (min-width: 1400px) {
  main.results {
    padding: 2rem 8rem;
  }
}
@media screen and (min-width: 1700px) {
  main.results {
    padding: 2rem 15rem;
  }
}
main primary, main secondary {
  height: 100%;
  padding: 1rem 0;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
main .full-width {
  width: 100%;
}
main primary.primary {
  width: calc(65% - 1.5rem);
}
@media screen and (max-width: 760px) {
  main primary.primary {
    width: 100%;
  }
}
main primary.secondary {
  width: calc(35% - 1.5rem);
}
@media screen and (max-width: 760px) {
  main primary.secondary {
    width: 0%;
  }
}
@media screen and (max-width: 760px) {
  main primary.shide {
    display: none;
  }
}
main secondary {
  opacity: 1;
}
main secondary.primary {
  width: calc(35% - 1.5rem);
  opacity: 0;
}
@media screen and (max-width: 760px) {
  main secondary.primary {
    width: 0%;
  }
}
main secondary.secondary {
  width: calc(65% - 1.5rem);
}
@media screen and (max-width: 760px) {
  main secondary.secondary {
    width: 100%;
  }
}

main primary {
  overflow: hidden;
  row-gap: 1rem;
}
main primary a {
  position: relative;
  width: 100%;
  background: var(--background);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}
main primary a topic {
  font-size: 1.1rem;
}
main primary a author {
  font-size: 0.9rem;
}
main primary a info {
  opacity: 0.9;
  padding: 1rem;
  row-gap: 0.2rem;
}
main primary a panel {
  z-index: 1;
  position: absolute;
  right: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
main primary a panel i.fa {
  animation: loading 2s infinite linear;
}
main primary a panel.show {
  opacity: 1;
}
main primary a:hover, main primary a:focus {
  color: var(--text-color);
  background: var(--hover-bg);
  border-color: var(--results-border);
}
main primary a:hover info, main primary a:focus info {
  opacity: 1;
}
main primary a:active {
  color: var(--accent-color);
  transform: translateY(0.2rem);
}
main primary a.active {
  color: var(--active-fg);
  background: var(--active-bg);
  border-color: var(--results-border);
  transform: translateY(0);
  cursor: default;
}
main primary a.active info {
  opacity: 1;
}
main primary .text-trim {
  width: calc(100% - 3.2rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main secondary {
  overflow: hidden;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
main secondary keyring {
  row-gap: 1rem;
  width: 1rem;
}
main secondary toggle {
  row-gap: 1rem;
}
main secondary toggle tog {
  height: 3.56rem;
  width: 3.56rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}
main secondary toggle tog i.fa {
  opacity: 0.9;
}
main secondary toggle tog:hover, main secondary toggle tog:focus {
  color: var(--text-color);
  background: var(--hover-bg);
  border-color: var(--results-border);
}
main secondary toggle tog:hover i.fa, main secondary toggle tog:focus i.fa {
  opacity: 1;
}
main secondary toggle tog:active {
  color: var(--accent-color);
  transform: scale(0.9);
}
main secondary toggle tog.active {
  color: var(--active-fg);
  background: var(--active-bg);
  border-color: var(--results-border);
  transform: scale(1);
  cursor: default;
}
main secondary toggle tog.active i.fa {
  opacity: 1;
}
main secondary toggle tog.round {
  border-radius: 100%;
}
main secondary keynote {
  position: relative;
  width: 100%;
  background-color: var(--background);
  background: linear-gradient(135deg, var(--background) 50%, var(--accent-color-c) 70%, var(--accent-color) 90%);
  background: no-repeat right url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' version='1.1' style='fill: var(--accent-color-rgb)' viewBox='0 0 450 90'><path d='M158.663 79.079h-5.202c-1.156 0-1.734.571-1.734 1.714v5.143c0 1.143.578 1.714 1.734 1.714h5.202c1.156 0 1.734-.571 1.734-1.714v-5.143c0-1.143-.578-1.714-1.734-1.714zm14.72-59.97h-3.679c-.817 0-1.226.404-1.226 1.212v3.637c0 .808.409 1.212 1.226 1.212h3.679c.817 0 1.226-.404 1.226-1.212v-3.637c0-.808-.408-1.212-1.226-1.212zm16.616 59.357h-5.945c-1.321 0-1.982.653-1.982 1.959v5.877c0 1.306.661 1.959 1.982 1.959h5.945c1.321 0 1.982-.653 1.982-1.959v-5.877c-.001-1.305-.661-1.959-1.982-1.959zm-20.685-37.347h4.459c.991 0 1.486-.49 1.486-1.469v-4.408c0-.98-.495-1.469-1.486-1.469h-4.459c-.991-.001-1.486.489-1.486 1.469v4.408c0 .98.495 1.469 1.486 1.469zm-15.482 15.306h4.459c.991 0 1.486-.49 1.486-1.469v-4.408c0-.98-.495-1.469-1.486-1.469h-4.459c-.991 0-1.486.489-1.486 1.469v4.408c0 .98.495 1.469 1.486 1.469zm4.069-22.01h-3.679c-.817 0-1.226.404-1.226 1.212v3.637c0 .808.409 1.212 1.226 1.212h3.679c.817 0 1.226-.404 1.226-1.212v-3.637c0-.808-.409-1.212-1.226-1.212zm-3.697-9.215h3.716c.826 0 1.239-.408 1.239-1.224v-3.673c0-.816-.413-1.225-1.239-1.224h-3.716c-.826 0-1.239.408-1.239 1.224v3.673c0 .816.413 1.225 1.239 1.224zm.352-15.887h3.01c.669 0 1.003-.331 1.003-.992V5.346c0-.661-.334-.992-1.003-.992h-3.01c-.669 0-1.003.331-1.003.992v2.975c0 .661.334.992 1.003.992zm30.731.452h3.679c.818 0 1.226-.404 1.226-1.212V4.916c0-.808-.409-1.212-1.226-1.212h-3.679c-.817 0-1.226.404-1.226 1.212v3.637c0 .808.409 1.212 1.226 1.212zm3.913 24.099h-4.347c-.966 0-1.449.477-1.449 1.433v4.298c0 .955.483 1.432 1.449 1.432h4.347c.966 0 1.449-.477 1.449-1.432v-4.298c0-.955-.483-1.433-1.449-1.433zm-30.965 30.613h-4.347c-.966 0-1.449.477-1.449 1.433v4.298c0 .955.483 1.433 1.449 1.433h4.347c.966 0 1.449-.477 1.449-1.433V65.91c0-.956-.483-1.433-1.449-1.433zm26.561-38.664h4.459c.991 0 1.486-.49 1.486-1.469v-4.408c0-.98-.495-1.469-1.486-1.469h-4.459c-.99-.001-1.486.489-1.486 1.469v4.408c0 .98.495 1.469 1.486 1.469zm-.371 31.224h5.202c1.156 0 1.734-.571 1.734-1.714V50.18c0-1.143-.578-1.714-1.734-1.714h-5.202c-1.156 0-1.734.572-1.734 1.714v5.143c0 1.143.578 1.714 1.734 1.714zm-10.28 6.736h-5.202c-1.156 0-1.734.571-1.734 1.714v5.143c0 1.143.578 1.714 1.734 1.714h5.202c1.156 0 1.734-.571 1.734-1.714v-5.143c0-1.143-.578-1.714-1.734-1.714zm15.389.152h-5.016c-1.115 0-1.672.551-1.672 1.653v4.959c0 1.102.557 1.653 1.672 1.653h5.016c1.115 0 1.672-.551 1.672-1.653v-4.959c0-1.102-.557-1.653-1.672-1.653zm-15.482 15.307h-5.016c-1.115 0-1.672.551-1.672 1.653v4.959c0 1.102.557 1.653 1.672 1.653h5.016c1.115 0 1.672-.551 1.672-1.653v-4.959c0-1.102-.557-1.653-1.672-1.653zm-4.367-69.338h3.716c.826 0 1.238-.408 1.239-1.224V4.997c0-.816-.413-1.225-1.239-1.224h-3.716c-.826 0-1.238.408-1.239 1.224V8.67c0 .816.413 1.225 1.239 1.224zm4.032 39.276h-4.347c-.966 0-1.449.477-1.449 1.433v4.298c0 .955.483 1.433 1.449 1.433h4.347c.966 0 1.449-.477 1.449-1.433v-4.298c.001-.955-.482-1.433-1.449-1.433zm-46.782 15.858h-3.679c-.817 0-1.226.404-1.226 1.212v3.637c0 .808.409 1.212 1.226 1.212h3.679c.817 0 1.226-.404 1.226-1.212V66.24c0-.808-.408-1.213-1.226-1.212zm-15.482 15.306h-3.679c-.817 0-1.226.404-1.226 1.212v3.637c0 .808.409 1.212 1.226 1.212h3.679c.817 0 1.226-.404 1.226-1.212v-3.637c0-.808-.409-1.212-1.226-1.212zm-15.464-.031h-3.716c-.826 0-1.238.408-1.239 1.224V85.2c0 .816.413 1.225 1.239 1.224h3.716c.826 0 1.239-.408 1.239-1.224v-3.673c0-.816-.413-1.224-1.239-1.224zm27.249-24.49h3.716c.826 0 1.239-.408 1.239-1.224v-3.674c0-.816-.413-1.225-1.239-1.224h-3.716c-.826 0-1.238.408-1.239 1.224v3.674c0 .816.413 1.224 1.239 1.224zm-15.13-.581h3.01c.669 0 1.003-.331 1.003-.992v-2.975c0-.661-.334-.992-1.003-.992h-3.01c-.669 0-1.003.331-1.003.992v2.975c0 .661.334.992 1.003.992zm.019-15.336h2.973c.661 0 .991-.326.991-.98v-2.939c0-.653-.33-.98-.991-.98h-2.972c-.661 0-.992.326-.992.98v2.939c0 .653.33.98.991.98zm15.464.03h3.01c.669 0 1.003-.331 1.003-.992v-2.975c0-.661-.335-.992-1.003-.992h-3.01c-.669 0-1.003.331-1.003.992v2.975c0 .661.334.992 1.003.992zm-15.148-15.858h2.341c.52 0 .78-.257.78-.771v-2.314c0-.514-.26-.771-.78-.771h-2.341c-.52 0-.78.257-.78.771v2.314c0 .514.26.771.78.771zm.056-15.398h2.229c.496 0 .743-.245.743-.735V5.731c0-.49-.248-.735-.743-.735h-2.229c-.496 0-.743.245-.743.735v2.204c0 .491.247.735.743.735zm15.426.092h2.341c.52 0 .78-.257.78-.771V5.677c0-.514-.26-.771-.78-.771h-2.341c-.52 0-.78.257-.78.771v2.314c0 .514.26.771.78.771zm14.797 31.744h3.716c.826 0 1.238-.408 1.239-1.224v-3.673c0-.816-.413-1.225-1.239-1.224h-3.716c-.826 0-1.239.408-1.239 1.224v3.673c0 .816.412 1.225 1.239 1.224zm.352-15.887h3.01c.669 0 1.003-.331 1.003-.992v-2.975c0-.661-.334-.992-1.003-.992h-3.01c-.669 0-1.003.331-1.003.992v2.975c0 .661.334.992 1.003.992zm.018-15.336h2.972c.661 0 .991-.326.991-.98V5.364c0-.653-.33-.98-.991-.98h-2.972c-.661 0-.991.326-.991.98v2.939c0 .653.33.98.991.98zm3.717 55.102h-4.459c-.991 0-1.486.49-1.486 1.469v4.408c0 .98.495 1.469 1.486 1.469h4.459c.991 0 1.486-.49 1.486-1.469v-4.408c0-.98-.495-1.469-1.486-1.469zm-.057 15.398h-4.347c-.966 0-1.449.477-1.449 1.433v4.298c0 .955.483 1.433 1.449 1.433h4.347c.966 0 1.449-.477 1.449-1.433v-4.298c.001-.956-.483-1.433-1.449-1.433zM123.61 24.589h2.973c.661 0 .991-.326.991-.98V20.67c0-.653-.33-.98-.991-.98h-2.973c-.661.001-.991.327-.991.98v2.939c0 .653.33.98.991.98zm3.715 55.102h-4.459c-.991 0-1.486.49-1.486 1.469v4.408c0 .98.495 1.469 1.486 1.469h4.459c.991 0 1.486-.49 1.486-1.469V81.16c.001-.98-.495-1.469-1.486-1.469zm15.093-29.97h-3.679c-.817 0-1.226.404-1.226 1.212v3.637c0 .808.409 1.212 1.226 1.212h3.679c.817 0 1.226-.404 1.226-1.212v-3.637c.001-.808-.408-1.212-1.226-1.212zm-30.947 15.275h-3.716c-.826 0-1.239.408-1.239 1.225v3.673c0 .816.413 1.225 1.239 1.224h3.716c.826 0 1.238-.408 1.239-1.224v-3.673c0-.816-.413-1.225-1.239-1.225zm187.877 11.932h-7.692c-1.709 0-2.564.845-2.564 2.535v7.604c0 1.69.855 2.535 2.564 2.535h7.692c1.709 0 2.564-.845 2.564-2.535v-7.604c0-1.69-.854-2.535-2.564-2.535zm15.483-15.306h-7.692c-1.709 0-2.564.845-2.564 2.535v7.604c0 1.69.855 2.535 2.564 2.535h7.692c1.709 0 2.564-.845 2.564-2.535v-7.604c-.001-1.69-.855-2.535-2.564-2.535zm-15.241-.398h-8.175c-1.817 0-2.725.898-2.725 2.694V72c0 1.796.908 2.694 2.725 2.694h8.175c1.816 0 2.725-.898 2.725-2.694v-8.082c0-1.796-.908-2.694-2.725-2.694zm7.307-1.836h8.175c1.817 0 2.725-.898 2.725-2.694v-8.082c0-1.796-.908-2.694-2.725-2.694h-8.175c-1.817 0-2.725.898-2.725 2.694v8.082c0 1.796.908 2.694 2.725 2.694zm-38.643 2.448h-7.432c-1.651 0-2.477.816-2.477 2.449v7.347c0 1.633.826 2.449 2.477 2.449h7.432c1.651 0 2.477-.816 2.477-2.449v-7.347c0-1.633-.826-2.449-2.477-2.449zm-63.238-13.217H200c-1.115 0-1.672.551-1.672 1.653v4.959c0 1.102.557 1.653 1.672 1.653h5.016c1.115 0 1.672-.551 1.672-1.653v-4.959c.001-1.102-.557-1.653-1.672-1.653zm63.033 28.86h-7.023c-1.561 0-2.341.771-2.341 2.314v6.943c0 1.543.78 2.314 2.341 2.314h7.023c1.561 0 2.341-.771 2.341-2.314v-6.943c0-1.542-.78-2.314-2.341-2.314zm62.264-31.163h-7.692c-1.709 0-2.564.845-2.564 2.535v7.604c0 1.69.855 2.535 2.564 2.535h7.692c1.709 0 2.564-.845 2.564-2.535v-7.604c0-1.69-.855-2.535-2.564-2.535zm-7.934-2.234h8.175c1.816 0 2.725-.898 2.725-2.694v-8.082c0-1.796-.908-2.694-2.725-2.694h-8.175c-1.816 0-2.725.898-2.725 2.694v8.082c0 1.796.908 2.694 2.725 2.694zm46.689-31.01h7.692c1.709 0 2.564-.845 2.564-2.535V2.933c-.001-1.69-.855-2.535-2.564-2.535h-7.692c-1.709 0-2.564.845-2.564 2.535v7.604c0 1.69.855 2.535 2.564 2.535zm-15.724.398h8.175c1.816 0 2.725-.898 2.725-2.694V2.694c0-1.796-.908-2.694-2.725-2.694h-8.175c-1.817 0-2.725.898-2.725 2.694v8.082c0 1.796.908 2.694 2.725 2.694zM252.671 77.242h-7.432c-1.651 0-2.477.816-2.477 2.449v7.347c0 1.633.826 2.449 2.477 2.449h7.432c1.651 0 2.477-.816 2.477-2.449v-7.347c0-1.633-.826-2.449-2.477-2.449zm93.124-46.232h-7.692c-1.709 0-2.564.845-2.564 2.535v7.604c0 1.69.855 2.535 2.564 2.535h7.692c1.709 0 2.564-.845 2.564-2.535v-7.604c0-1.69-.855-2.535-2.564-2.535zm-7.933-2.234h8.175c1.816 0 2.725-.898 2.725-2.694V18c0-1.796-.908-2.694-2.725-2.694h-8.175c-1.816 0-2.725.898-2.725 2.694v8.082c0 1.796.908 2.694 2.725 2.694zm23.415-13.072h-7.692c-1.709 0-2.564.845-2.564 2.535v7.604c0 1.69.855 2.535 2.564 2.535h7.692c1.709 0 2.564-.845 2.564-2.535v-7.604c0-1.69-.854-2.535-2.564-2.535zM284.108 76.53h-8.175c-1.816 0-2.725.898-2.725 2.694v8.082c0 1.796.908 2.694 2.725 2.694h8.175c1.817 0 2.725-.898 2.725-2.694v-8.082c0-1.796-.909-2.694-2.725-2.694zm-47.29-13.982h-6.688c-1.486 0-2.23.735-2.23 2.204v6.612c0 1.469.743 2.204 2.23 2.204h6.688c1.486 0 2.229-.735 2.229-2.204v-6.612c0-1.469-.743-2.204-2.229-2.204zM205.351 78.68h-5.685c-1.263 0-1.895.625-1.895 1.874v5.62c0 1.249.632 1.873 1.895 1.873h5.685c1.263 0 1.895-.625 1.895-1.873v-5.62c0-1.249-.632-1.873-1.895-1.874zm15.482-15.306h-5.685c-1.263 0-1.895.625-1.895 1.874v5.62c0 1.249.632 1.873 1.895 1.874h5.685c1.263 0 1.895-.625 1.895-1.874v-5.62c0-1.249-.632-1.873-1.895-1.874zm-5.815-5.725h5.945c1.321 0 1.982-.653 1.982-1.959v-5.877c0-1.306-.661-1.959-1.982-1.959h-5.945c-1.321 0-1.982.653-1.982 1.959v5.877c0 1.306.661 1.959 1.982 1.959zm-14.639-47.242h4.459c.991 0 1.486-.49 1.486-1.469V4.53c0-.98-.495-1.469-1.486-1.469h-4.459c-.991 0-1.486.49-1.486 1.469v4.408c0 .98.495 1.469 1.486 1.469zm-.472 31.324h5.202c1.156 0 1.734-.571 1.734-1.714v-5.143c0-1.143-.578-1.714-1.734-1.714h-5.202c-1.156 0-1.734.572-1.734 1.714v5.143c0 1.143.578 1.714 1.734 1.714zm4.876-23.272h-4.347c-.966 0-1.449.478-1.449 1.433v4.298c0 .955.483 1.432 1.449 1.433h4.347c.966 0 1.449-.478 1.449-1.433v-4.298c0-.956-.483-1.433-1.449-1.433zm15.816 14.755h-5.016c-1.115 0-1.672.551-1.672 1.653v4.959c0 1.102.557 1.653 1.672 1.653h5.016c1.115 0 1.672-.551 1.672-1.653v-4.959c0-1.102-.557-1.653-1.672-1.653zm-15.118 29.947h-5.945c-1.321 0-1.982.653-1.982 1.959v5.877c0 1.306.661 1.959 1.982 1.959h5.945c1.321 0 1.982-.653 1.982-1.959V65.12c0-1.306-.661-1.959-1.982-1.959zm25.12-20.916h5.945c1.321 0 1.982-.653 1.982-1.959v-5.878c0-1.306-.661-1.959-1.982-1.959h-5.945c-1.321 0-1.982.653-1.982 1.959v5.878c0 1.306.661 1.959 1.982 1.959zm.371-31.225h5.202c1.156 0 1.734-.571 1.734-1.714V4.163c0-1.143-.578-1.714-1.734-1.714h-5.202c-1.156 0-1.734.571-1.734 1.714v5.143c0 1.143.578 1.714 1.734 1.714zm5.109 6.888h-5.016c-1.115 0-1.672.551-1.672 1.653v4.959c0 1.102.557 1.653 1.672 1.653h5.016c1.115 0 1.672-.551 1.672-1.653v-4.959c.001-1.102-.557-1.653-1.672-1.653zm.569 60.222h-6.354c-1.412 0-2.118.698-2.118 2.094v6.282c0 1.396.706 2.094 2.118 2.094h6.354c1.412 0 2.118-.698 2.118-2.094v-6.282c0-1.396-.706-2.094-2.118-2.094zm-21.16-51.804h5.202c1.156 0 1.734-.571 1.734-1.714v-5.143c0-1.143-.578-1.714-1.734-1.714h-5.202c-1.156 0-1.734.571-1.734 1.714v5.143c0 1.143.578 1.714 1.734 1.714zm20.926 21.643h-5.685c-1.263 0-1.895.625-1.895 1.873v5.62c0 1.249.632 1.874 1.895 1.874h5.685c1.263 0 1.895-.625 1.895-1.874v-5.62c0-1.248-.632-1.873-1.895-1.873zm-20.498-37.653h4.347c.966 0 1.449-.478 1.449-1.433V4.585c0-.955-.483-1.432-1.449-1.433h-4.347c-.966 0-1.449.478-1.449 1.433v4.298c0 .955.483 1.432 1.449 1.433zm5.417 67.538h-6.688c-1.486 0-2.23.735-2.23 2.204v6.612c0 1.469.743 2.204 2.23 2.204h6.688c1.486 0 2.229-.735 2.229-2.204v-6.612c0-1.469-.743-2.204-2.229-2.204zm77.345-61.049h-6.354c-1.412 0-2.118.698-2.118 2.094v6.282c0 1.396.706 2.094 2.118 2.094h6.354c1.412 0 2.118-.698 2.118-2.094v-6.282c0-1.396-.706-2.094-2.118-2.094zm31.299-.55h-7.023c-1.561 0-2.341.771-2.341 2.314v6.943c0 1.543.78 2.314 2.341 2.314h7.023c1.561 0 2.341-.771 2.341-2.314v-6.943c-.001-1.543-.781-2.314-2.341-2.314zm-7.227-3.398h7.431c1.651 0 2.477-.816 2.477-2.449V3.061c0-1.633-.826-2.449-2.477-2.449h-7.431c-1.651 0-2.477.816-2.477 2.449v7.347c0 1.633.826 2.449 2.477 2.449zm-8.256 18.704h-7.023c-1.561 0-2.341.771-2.341 2.314v6.943c0 1.543.78 2.314 2.341 2.314h7.023c1.561 0 2.341-.771 2.341-2.314v-6.943c0-1.543-.78-2.314-2.341-2.314zm23.942-19.041h7.023c1.561 0 2.341-.771 2.341-2.314V3.263c0-1.543-.78-2.314-2.341-2.314h-7.023c-1.561 0-2.341.771-2.341 2.314v6.943c0 1.543.78 2.314 2.341 2.314zm-46.651 30.949h7.431c1.651 0 2.477-.816 2.477-2.449v-7.347c0-1.633-.826-2.449-2.477-2.449h-7.431c-1.651 0-2.477.816-2.477 2.449v7.347c0 1.633.826 2.449 2.477 2.449zm-8.255 18.704h-7.023c-1.561 0-2.341.771-2.341 2.314v6.943c0 1.543.78 2.314 2.341 2.314h7.023c1.561 0 2.341-.771 2.341-2.314v-6.943c-.001-1.542-.781-2.314-2.341-2.314zm-.335-30.062h-6.354c-1.412 0-2.118.698-2.118 2.094v6.282c0 1.396.706 2.094 2.118 2.094h6.354c1.412 0 2.118-.698 2.118-2.094v-6.282c0-1.396-.706-2.094-2.118-2.094zm-6.893 26.664h7.432c1.651 0 2.477-.816 2.477-2.449v-7.347c0-1.633-.826-2.449-2.477-2.449h-7.432c-1.651 0-2.477.816-2.477 2.449v7.347c0 1.633.826 2.449 2.477 2.449zm15.855-46.531h6.688c1.486 0 2.229-.735 2.229-2.204V3.428c0-1.469-.743-2.204-2.229-2.204h-6.688c-1.486 0-2.229.735-2.229 2.204v6.612c0 1.469.743 2.204 2.229 2.204zm15.11 15.919h7.432c1.651 0 2.477-.816 2.477-2.449v-7.347c0-1.633-.826-2.449-2.477-2.449h-7.432c-1.651 0-2.477.817-2.477 2.449v7.347c0 1.633.826 2.449 2.477 2.449zm-8.255 18.704h-7.023c-1.561 0-2.341.771-2.341 2.314v6.943c0 1.543.78 2.314 2.341 2.314h7.023c1.561 0 2.341-.771 2.341-2.314v-6.943c0-1.543-.78-2.314-2.341-2.314zm8.794-34.898h6.354c1.412 0 2.118-.698 2.118-2.094V3.593c0-1.396-.706-2.094-2.118-2.094h-6.354c-1.412 0-2.118.698-2.118 2.094v6.282c0 1.396.706 2.094 2.118 2.094zM93.016 23.977h2.229c.496 0 .743-.245.743-.735v-2.204c0-.49-.248-.735-.743-.735h-2.229c-.495 0-.743.245-.743.735v2.204c0 .49.248.735.743.735zm184.162-12.559h5.685c1.263 0 1.895-.625 1.895-1.873v-5.62c0-1.249-.632-1.873-1.895-1.874h-5.685c-1.263 0-1.895.625-1.895 1.874v5.62c0 1.249.632 1.873 1.895 1.873zM17.555 81.987h-1.672c-.371 0-.557.183-.557.551v1.653c0 .367.186.551.557.551h1.672c.371 0 .557-.184.557-.551v-1.653c0-.367-.186-.551-.557-.551zm-1.578-12.704h1.486c.33 0 .495-.163.495-.49v-1.469c0-.327-.165-.49-.495-.49h-1.486c-.33 0-.495.163-.495.49v1.469c0 .327.165.49.495.49zM1.981 82.14H.495c-.33 0-.495.163-.495.49v1.469c0 .327.165.49.495.49h1.486c.33 0 .495-.163.495-.49V82.63c0-.327-.165-.49-.495-.49zm78.173-1.255h-3.01c-.669 0-1.003.331-1.003.992v2.975c0 .661.335.992 1.003.992h3.01c.669 0 1.003-.331 1.003-.992v-2.975c0-.661-.334-.992-1.003-.992zM31.459 53.976h1.486c.33 0 .495-.163.495-.49v-1.469c0-.327-.165-.49-.495-.49h-1.486c-.33 0-.495.163-.495.49v1.469c0 .326.165.49.495.49zm-.093 15.46h1.672c.372 0 .557-.184.557-.551v-1.653c0-.367-.186-.551-.557-.551h-1.672c-.372 0-.557.183-.557.551v1.653c0 .367.186.551.557.551zm1.951 12.091h-2.229c-.496.001-.744.245-.744.735v2.204c0 .49.248.735.743.735h2.23c.496 0 .743-.245.743-.735v-2.204c0-.49-.248-.735-.743-.735zm43.846-11.019h2.973c.661 0 .991-.326.991-.98v-2.939c0-.653-.33-.98-.991-.98h-2.973c-.661 0-.991.327-.991.98v2.939c0 .653.33.98.991.98zm.315-15.828h2.341c.52 0 .78-.257.78-.771v-2.314c0-.514-.26-.771-.78-.771h-2.341c-.52 0-.78.257-.78.771v2.314c0 .514.26.771.78.771zm15.167.522h2.973c.661 0 .991-.326.991-.98v-2.939c0-.653-.33-.98-.991-.98h-2.973c-.661 0-.991.327-.991.98v2.939c0 .653.33.98.991.98zm-.019 15.336h3.01c.669 0 1.003-.331 1.003-.992v-2.975c0-.661-.334-.992-1.003-.992h-3.01c-.669 0-1.003.331-1.003.992v2.975c0 .661.334.992 1.003.992zm.335-31.164h2.341c.52 0 .78-.257.78-.771v-2.314c0-.514-.26-.771-.78-.771h-2.341c-.52 0-.78.257-.78.771v2.314c0 .514.26.771.78.771zm.334-31.163h1.672c.372 0 .557-.184.557-.551V6.007c0-.367-.186-.551-.557-.551h-1.672c-.372 0-.557.184-.557.551V7.66c0 .367.186.551.557.551zM77.534 39.283h2.229c.496 0 .743-.245.743-.735v-2.204c0-.49-.248-.735-.743-.735h-2.229c-.495 0-.743.245-.743.735v2.204c0 .49.248.735.743.735zM46.848 54.129h1.672c.372 0 .557-.184.557-.551v-1.653c0-.367-.186-.551-.557-.551h-1.672c-.371.001-.557.184-.557.551v1.653c0 .367.186.551.557.551zM276.676 27.55h6.688c1.486 0 2.229-.735 2.229-2.204v-6.612c0-1.469-.743-2.204-2.229-2.204h-6.688c-1.486 0-2.229.735-2.229 2.204v6.612c0 1.469.743 2.204 2.229 2.204zM77.813 23.517h1.672c.372 0 .557-.184.557-.551v-1.653c0-.367-.186-.551-.557-.551h-1.672c-.372 0-.557.184-.557.551v1.653c0 .367.186.551.557.551zm.093-15.459h1.486c.33 0 .495-.163.495-.49V6.099c0-.326-.165-.49-.495-.49h-1.486c-.33 0-.495.163-.495.49v1.469c0 .327.165.49.495.49zm174.327 54.666h-6.354c-1.412 0-2.118.698-2.118 2.094V71.1c0 1.396.706 2.094 2.118 2.094h6.354c1.412 0 2.118-.698 2.118-2.094v-6.282c0-1.396-.706-2.094-2.118-2.094zm-6.15-35.786h5.945c1.321 0 1.982-.653 1.982-1.959v-5.877c0-1.306-.661-1.959-1.982-1.959h-5.945c-1.321 0-1.982.653-1.982 1.959v5.877c0 1.306.661 1.959 1.982 1.959zm15.112 15.919h6.688c1.486 0 2.229-.735 2.229-2.204v-6.612c0-1.469-.743-2.204-2.229-2.204h-6.688c-1.486 0-2.229.735-2.229 2.204v6.612c0 1.469.743 2.204 2.229 2.204zm-9.297-10.194h-5.685c-1.263 0-1.895.625-1.895 1.873v5.62c0 1.25.632 1.874 1.895 1.874h5.685c1.263 0 1.895-.625 1.895-1.874v-5.62c0-1.249-.632-1.873-1.895-1.873zm-5.35-21.796h5.016c1.115 0 1.672-.551 1.672-1.653V4.255c0-1.102-.557-1.653-1.672-1.653h-5.016c-1.115 0-1.672.551-1.672 1.653v4.959c0 1.102.557 1.653 1.672 1.653zm15.017.765h5.945c1.321 0 1.982-.653 1.982-1.959V3.796c0-1.306-.66-1.959-1.982-1.959h-5.945c-1.321 0-1.982.653-1.982 1.959v5.877c0 1.306.661 1.959 1.982 1.959zm5.815 5.725h-5.685c-1.263 0-1.895.625-1.895 1.873v5.62c0 1.25.632 1.874 1.895 1.874h5.685c1.263 0 1.895-.625 1.895-1.874v-5.62c0-1.249-.632-1.873-1.895-1.873zm.335 30.061h-6.354c-1.412 0-2.118.698-2.118 2.094v6.282c0 1.396.706 2.094 2.118 2.094h6.354c1.412 0 2.118-.698 2.118-2.094v-6.282c0-1.396-.706-2.094-2.118-2.094zM62.33 38.823h1.672c.372 0 .557-.184.557-.551v-1.653c0-.367-.186-.551-.557-.551H62.33c-.371 0-.557.184-.557.551v1.653c0 .367.186.551.557.551zm183.382 19.34h6.688c1.486 0 2.229-.735 2.229-2.204v-6.612c0-1.469-.743-2.204-2.229-2.204h-6.688c-1.486 0-2.229.735-2.229 2.204v6.612c0 1.469.743 2.204 2.229 2.204zM46.942 38.67h1.486c.33 0 .495-.163.495-.49v-1.469c0-.327-.165-.49-.495-.49h-1.486c-.33 0-.495.163-.495.49v1.469c0 .326.165.49.495.49zm1.913 42.766h-2.341c-.52 0-.78.257-.78.771v2.314c0 .514.26.771.78.771h2.341c.52 0 .78-.257.78-.771v-2.314c0-.514-.26-.771-.78-.771zM46.57 69.895h2.229c.495 0 .743-.245.743-.735v-2.204c0-.49-.248-.735-.743-.735H46.57c-.496 0-.743.245-.743.735v2.204c0 .49.248.735.743.735zm18.083 11.02h-2.972c-.661 0-.991.326-.991.98v2.939c0 .653.33.98.991.98h2.972c.661 0 .991-.327.991-.98v-2.939c0-.653-.33-.98-.991-.98zm-2.657-10.929h2.341c.52 0 .78-.257.78-.771v-2.314c0-.514-.26-.771-.78-.771h-2.341c-.52 0-.78.257-.78.771v2.314c0 .514.26.771.78.771zm.056-15.397h2.229c.496 0 .743-.245.743-.735V51.65c0-.49-.248-.735-.743-.735h-2.229c-.495 0-.743.245-.743.735v2.204c0 .49.248.735.743.735zm.372-31.225h1.486c.33 0 .495-.163.495-.49v-1.469c0-.327-.165-.49-.495-.49h-1.486c-.33 0-.495.163-.495.49v1.469c0 .327.165.49.495.49z'/><path d='M400 0v.003h-4.863V0l-.093.091c-.037-.035-.084-.059-.124-.091h-13.053c-.594.485-.902 1.254-.902 2.326v8.817c0 .956.24 1.675.712 2.164l-2.115 2.091c-.495-.466-1.222-.704-2.189-.704h-8.918c-1.982 0-2.972.98-2.972 2.939v8.817c0 .956.24 1.675.712 2.164l-2.115 2.091c-.495-.466-1.222-.704-2.189-.704h-8.918c-1.982 0-2.972.98-2.972 2.939v8.817c0 .956.24 1.674.712 2.164l-2.115 2.091c-.495-.466-1.222-.704-2.189-.704h-8.918c-1.982 0-2.973.98-2.973 2.939v8.817c0 .956.24 1.675.712 2.164l-2.115 2.091c-.495-.466-1.222-.704-2.189-.704h-8.918c-1.982 0-2.972.98-2.973 2.939v8.816c0 .956.24 1.675.712 2.164l-2.115 2.091c-.495-.466-1.222-.704-2.189-.704h-8.918c-1.982 0-2.973.98-2.973 2.939v8.816c0 .819.187 1.453.534 1.929H400V90h50V0h-50z'/></svg>");
  border: 1px solid var(--background);
  border-left: 2px solid var(--accent-color);
  border-radius: 0.25rem;
  padding: 1rem;
}
main secondary keynote i.fa {
  color: var(--active-fg);
}
main secondary keynote name {
  transform: translateX(-1px);
}
main secondary a {
  position: relative;
  width: 100%;
  background: var(--background);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}
main secondary a name {
  font-size: 0.9rem;
}
main secondary a dest {
  font-size: 0.7rem;
}
main secondary a info {
  opacity: 0.9;
  padding: 1rem;
  row-gap: 0.2rem;
}
main secondary a panel {
  z-index: 1;
  position: absolute;
  right: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
main secondary a:hover, main secondary a:focus {
  color: var(--text-color);
  background: var(--hover-bg);
  border-color: var(--results-border);
}
main secondary a:hover info, main secondary a:focus info {
  opacity: 1;
}
main secondary a:active {
  color: var(--accent-color);
  transform: translateY(0.2rem);
}
main secondary .text-trim {
  width: calc(100% - 3.2rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main.about {
  color: var(--text-color);
  background: var(--results-background);
}
main.about section {
  gap: 4rem;
  width: 100%;
  min-height: 32rem;
  word-wrap: break-word;
  padding: 0 2rem;
}
@media screen and (min-width: 1400px) {
  main.about section {
    padding: 2rem 8rem;
  }
}
@media screen and (min-width: 1700px) {
  main.about section {
    padding: 2rem 15rem;
  }
}
main.about section svg {
  width: 26rem;
  max-width: calc(100% - 2rem);
  height: auto;
}
main.about section svg path:first-of-type {
  opacity: 0.75;
}
main.about section h1, main.about section p {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
main.about section h1 {
  font-weight: 600;
  max-width: 32rem;
  color: var(--accent-color);
  font-size: 3.5rem;
}
@media screen and (max-width: 1180px) {
  main.about section h1 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 960px) {
  main.about section h1 {
    font-size: 2.9rem;
  }
}
@media screen and (max-width: 840px) {
  main.about section h1 {
    font-size: 2.6rem;
  }
}
main.about section p {
  font-weight: 400;
  max-width: 32rem;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}
@media screen and (max-width: 840px) {
  main.about section p {
    font-size: 1rem;
  }
}
main.about section:first-of-type {
  padding-top: 2rem;
}
main.about section:last-of-type {
  padding-bottom: 2rem;
}
main.about section.right.flex.flex-responsive {
  flex-direction: row;
}
main.about section.right h1, main.about section.right p {
  text-align: right;
}
main.about section.left.flex.flex-responsive {
  flex-direction: row-reverse;
}
main.about section.left h1, main.about section.left p {
  text-align: left;
}
main.about section.center {
  min-height: auto;
}
main.about section.center p {
  text-align: center;
  margin: 1.5rem 0;
  max-width: 50rem;
}
@media screen and (max-width: 760px) {
  main.about section {
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  main.about section.right.flex.flex-responsive, main.about section.left.flex.flex-responsive {
    flex-direction: column-reverse;
  }
  main.about section.right h1, main.about section.right p, main.about section.left h1, main.about section.left p {
    text-align: center;
  }
}

titlecard {
  color: var(--titlecard-color);
  background: url(../img/titlecard.webp) 50%, linear-gradient(90deg, var(--accent-color), var(--accent-color-a));
  font-size: 1.3rem;
  /*text-shadow: 0 0 32px rgba(0,0,0,0.5);*/
  text-align: justify;
  padding: 1rem 15rem;
  /*transition: height $minimizedelay linear, padding $minimizedelay linear;*/
  /*
  &.minimize {
      height: 0;
      padding: 0;
      overflow: hidden;
  }*/
}
@media screen and (max-width: 1400px) {
  titlecard {
    padding: 1rem 4.5rem;
    text-align: justify;
  }
}
@media screen and (max-width: 760px) {
  titlecard {
    padding: 1rem 6.5rem;
    text-align: justify;
  }
}
@media screen and (max-width: 540px) {
  titlecard {
    padding: 1rem 1.5rem;
    text-align: center;
  }
}

.fix-height {
  height: 3.25rem;
  min-height: 3.25rem;
}

.container {
  background: 0 0;
  width: 100%;
  padding: 1rem 2rem;
  color: var(--text-color);
  word-wrap: break-word;
}
@media screen and (max-width: 540px) {
  .container {
    padding: 1rem 1.5rem;
  }
}

.flex {
  display: flex;
}
.flex.flex-center-v {
  align-items: center;
}
.flex.flex-center-h {
  justify-content: center;
}
.flex.flex-space-between {
  justify-content: space-between;
}
.flex.flex-column {
  flex-direction: column;
}
.flex.flex-column.flex-reverse {
  flex-direction: column-reverse;
}
.flex.flex-row {
  flex-direction: row;
}
.flex.flex-row.flex-reverse {
  flex-direction: row-reverse;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex .flex-grow {
  flex: 1 0 auto;
}
@media screen and (min-width: 541px) {
  .flex .flex-row.flex-responsive {
    flex-direction: row-reverse;
  }
}

.search-box {
  width: 32rem;
  max-width: calc(100% - 2rem);
  background: var(--search-box-bg);
  height: 3rem;
  box-shadow: 0 3px 0 0 var(--search-box-border);
  border-radius: 0.25rem;
}
.search-box input {
  background: transparent;
  border: 0;
}
.search-box input[type=text] {
  width: 1rem;
  padding: 0.8rem 0 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1rem;
  color: var(--text-color);
}
.search-box input[type=submit], .search-box input[type=button] {
  cursor: pointer;
  color: var(--search-button);
  padding: 0.8rem 1.2rem;
}
.search-box input[type=submit]:hover, .search-box input[type=submit]:focus, .search-box input[type=button]:hover, .search-box input[type=button]:focus {
  color: var(--text-stark);
}
.search-box:hover input[type=submit], .search-box:focus input[type=submit] {
  background: var(--search-box-hover);
}
.search-box input[type=submit] {
  border-radius: 0 0.25rem 0.25rem 0;
}
.search-box input[type=submit].active {
  background: var(--search-box-hover);
}
.search-box input[type=submit]:hover, .search-box input[type=submit]:focus {
  color: var(--active-fg);
  background: var(--active-bg);
}
.search-box.results {
  width: 42rem;
  max-width: calc(100% - 2rem);
}

.search-suggest {
  width: 32rem;
  max-width: calc(100% - 2rem);
}
.search-suggest a {
  cursor: pointer;
  margin: 0.6rem;
  padding: 0.2rem 0.4rem;
  box-shadow: 0 2px 0 0 var(--search-box-border);
  border-radius: 0.25rem;
  background: var(--hover-bg);
}
.search-suggest a:hover, .search-suggest a:focus {
  background: var(--search-box-bg);
}
.search-suggest a:active {
  color: var(--accent-color);
  transform: translateY(0.2rem);
}

.pointer {
  cursor: pointer;
}

.logo-main svg {
  height: 10rem;
  width: auto;
}

.logo-side svg {
  height: 2.5rem;
  width: auto;
}
@media screen and (min-width: 540px) {
  .logo-side .no-txt {
    display: inherit;
  }
  .logo-side .txt-right {
    display: none;
  }
}
@media screen and (min-width: 761px) {
  .logo-side .no-txt {
    display: none;
  }
  .logo-side .txt-right {
    display: inherit;
  }
}

.logo-top svg {
  height: 2.5rem;
  width: auto;
  max-width: 100%;
}
.logo-top .no-txt {
  display: none;
}
.logo-top .txt-right {
  display: inherit;
}
@media screen and (max-width: 290px) {
  .logo-top .no-txt {
    display: inherit;
  }
  .logo-top .txt-right {
    display: none;
  }
}

.margin.m0.left {
  margin-left: 0.5rem;
}
.margin.m0.bottom {
  margin-bottom: 0.5rem;
}
.margin.m0.right {
  margin-right: 0.5rem;
}
.margin.m1.left {
  margin-left: 1.5rem;
}
.margin.m1.bottom {
  margin-bottom: 1.5rem;
}
.margin.m1.right {
  margin-right: 1.5rem;
}
.margin.m2.left {
  margin-left: 2.5rem;
}
.margin.m2.bottom {
  margin-bottom: 2.5rem;
}
.margin.m2.right {
  margin-right: 2.5rem;
}

.font-light {
  font-weight: 300;
}

.noscroll {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

svg .st1 {
  fill: var(--text-color);
}
svg .st2 {
  fill: var(--accent-color);
}
svg .st00 {
  fill: var(--text-color);
}
svg .st01 {
  fill: var(--accent-color);
}
svg .st02 {
  fill: var(--accent-color-a);
}
svg .st03 {
  fill: var(--accent-color-b);
}
svg .st04 {
  fill: var(--accent-color-c);
}
svg .st05 {
  fill: var(--accent-color-a);
}
svg .st06 {
  fill: var(--accent-color-a);
}/*# sourceMappingURL=main.css.map */