$radius: .25rem;
$headerHeight: 3.25rem;
$resultsFg: 65%;
$resultsBg: 35%;
$globaldelay: .1s;
$minimizedelay: .2s;

@mixin searchBoxHome() {
    width: 32rem;
    max-width: calc(100% - 2rem);
}

@mixin resFont($width, $size) {
    @media screen and (max-width: $width) {
        font-size: $size;
    }
}

@mixin resMain($width, $size) {
    @media screen and (max-width: $width) {
        width: $size;
    }
}

@mixin resMainPad($width, $pad) {
    @media screen and (min-width: $width) {
        padding: 2rem $pad;
    }
}

@mixin resTitlePad($width, $pad, $alignment) {
    @media screen and (max-width: $width) {
        padding: 1rem $pad;
        text-align: $alignment;
    }
}

@keyframes loading {
    0%{
        transform: rotate(0deg) scale(.8);
    }
    50%{
        transform: rotate(180deg) scale(1.1);
    }
    100% { 
        transform: rotate(359deg) scale(.8);
    }
}

:root {
    --accent-color: #868cff;
    --accent-color-a: #6b6fcc;
    --accent-color-b: #505399;
    --accent-color-c: #353765;
    --background: #1c1c1c;
    --search-button: #cccccc;
    --search-box-bg: #333333;
    --search-box-border: #161616;
    --search-box-hover: #444444;
    --results-background: #161616;
    --results-border: transparent; //#333333;
    --menu-shade: #00000065;
    --menu-shadow: #000000;
    --text-color: #eeeeee;
    --text-stark: #ffffff;
    --titlecard-color: var(--results-background);
    --hover-bg: #242424;
    --active-bg: var(--accent-color);
    --active-fg: var(--results-background);
}

* {
    scrollbar-width: thin !important;
    scrollbar-color: var(--accent-color) #00000000 !important;
    box-sizing: border-box;
    transition: $globaldelay;
    outline: none;
}
*::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}
*::-webkit-scrollbar-thumb {
  background: var(--accent-color) !important;
}
*::-webkit-scrollbar-track {
  background: #00000000 !important;
}
::selection {
    color: var(--active-fg);
    background: var(--active-bg);
}
body,
html {
    height: 100%;
    width: 100%;
    line-height: 1.3;
}
html {
    font-family: 'Radio Canada', sans-serif;
    /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;*/
    font-size: 18px;
    @include resFont(1179px, 17px);
    @include resFont(959px, 16px);
    @include resFont(839px, 15px);
    @include resFont(759px, 14px);
}
body {
    color: var(--text-color);
    background: var(--background);
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.fa, .search-suggest a, primary, secondary {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
/*a {
    &:link {
        color: var(--anchor-link);
    }
    &:visited {
        color: var(--anchor-visited);
    }
    &:hover {
        color: var(--anchor-hover);
    }
    &:active {
        color: var(--anchor-active);
    }
}*/
.fa {
    &.small {
        font-size: .8rem;
    }
    &.mid {
        font-size: 1.3rem;
    }
    &.big {
        font-size: 1.6rem;
    }
    &.fa-menu, &.fa-close {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.22rem;
        width: 2.22rem;
        transform: translateX(0.60rem);
        border-radius: $radius;
        @media screen and (max-width: 540px) {
            transform: translateX(-0.60rem);
        }
        &:hover, &:focus {
            background: var(--hover-bg);
        }
        &:active::before {
            color: var(--accent-color);
            //font-size: .95rem;
        }
    }
    &.splash {
        animation: loading 2s infinite linear;
        fill: var(--text-color);
        width: 100%;
        max-width: 5rem;
    }
}
content {
    height: 100%;
    width: 100%;
    z-index: 1;
}
scrolltop {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--active-fg);
    background: var(--active-bg);
    border-radius: $radius;
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    opacity: .7;
    z-index: 1;
    @media screen and (max-width: 540px) {
        right: 1.5rem;
    }
    &:hover, &:focus {
        opacity: 1;
    }
    &.disable {
        opacity: 0;
        z-index: -1;
    }
}
load, nav, backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
load {
    background: var(--background);
    z-index: 3;
    i.fa {
        font-size: 6rem;
        color: var(--text-color);
        animation: loading 2s infinite linear;
    }
}
nav {
    background: transparent;
    z-index: 2;
    backdrop {
        z-index: 0;
        opacity: 0;
        background: var(--menu-shade);
        backdrop-filter: blur(4px);
        transform: opacity .1s ease-in-out;
    }
    sidebar {
        z-index: 1;
        position: fixed;
        top: 0;
        right: -22rem;
        height: 100%;
        width: 22rem;
        transform: width .1s ease-in-out;
        background: var(--results-background);
        box-shadow: 0px 0 10px 5px var(--menu-shade);
        overflow-y: auto;
        overflow-x: hidden;
        @media screen and (max-width: 540px) {
            left: -22rem;
        }
    }
    sidebar top {
        padding: 1rem 2rem 0 2rem;
        /*border-bottom: 1px solid var(--results-border);
        background: var(--background);
        span {
            font-size: 1.2rem;
            font-weight: 600;
        }*/
        @media screen and (max-width: 540px) {
            padding: 1rem 1.5rem 0 1.5rem;
        }
        @media screen and (min-width: 541px) {
            .flex-row.flex-responsive {
                flex-direction: row-reverse;
            }
        }
    }
    sidebar bottom {
        margin: .4rem 0 1rem 0;
        padding: 1rem 2rem;
        @media screen and (max-width: 540px) {
            padding: 1rem 1.5rem;
        }
        row-gap: 2rem;
        section {
            row-gap: .5rem;
            lead {
                display: inline-block;
                font-size: .9rem;
                text-align: left;
                width: 100%;
                padding: .8rem;
                background: var(--background);
                border-radius: $radius;
            }
            btns {
                column-gap: .5rem;
            }
            btn {
                cursor: pointer;
                text-align: center;
                padding: .8rem;
                background: var(--background);
                border-radius: $radius;
                transition: flex-grow $globaldelay ease-in-out;
                &.active {
                    cursor: default;
                    flex-grow: 2 !important;
                }
            }
        }
    }
}
nav.navin {
    backdrop {
        opacity: 1;
    }
    sidebar {
        right: 0;
        max-width: calc(100% - 2rem);
        @media screen and (max-width: 540px) {
            left: 0;
        }
    }
}
header {
    width: 100%;
    top.flex {
        display: none;
    }
    @media screen and (max-width: 540px) {
        top.flex {
            display: inherit;
        }
        .slim {
            display: none;
        }
        .search-box.shady {
            width: 100%;
            max-width: 100%;
        }
    }
}
footer {
    font-size: .8rem;
}
main {
    &.results {
        background: var(--results-background);
        border-top: 1px solid var(--results-border);
        border-bottom: 1px solid var(--results-border);
        @include resMainPad(1399px, 8rem);
        @include resMainPad(1699px, 15rem);
    }
    primary, secondary {
        height: 100%;
        padding: 1rem 0;
        transition: width .2s ease-in-out, opacity .2s ease-in-out;
    }
    .full-width {
        width: 100%;
    }
    primary {
        &.primary {
            width: calc($resultsFg - 1.5rem);
            @include resMain(759px, 100%);
        }
        &.secondary {
            width: calc($resultsBg - 1.5rem);
            @include resMain(759px, 0%);
        }
        &.shide {
            @media screen and (max-width: 759px) {
                display: none;
            }
        }
    }
    secondary {
        opacity: 1;
        &.primary {
            width: calc($resultsBg - 1.5rem);
            opacity: 0;
            @include resMain(759px, 0%);
        }
        &.secondary {
            width: calc($resultsFg - 1.5rem);
            @include resMain(759px, 100%);
        }
    }
}
main primary {
    overflow: hidden;
    row-gap: 1rem;
    a {
        position: relative;
        width: 100%;
        background: var(--background);
        border: 1px solid transparent;
        border-radius: $radius;
        cursor: pointer;
        topic {
            font-size: 1.1rem;
        }
        author {
            font-size: .9rem;
        }
        info {
            opacity: .85;
            padding: 1rem;
            row-gap: .2rem;
        }
        panel {
            z-index: 1;
            position: absolute;
            right: 1rem;
            column-gap: 1rem;
            opacity: 0;
            transition: opacity .1s ease-in-out;
            i.fa {
                animation: loading 2s infinite linear;
            }
            &.show {
                opacity: 1;
            }
        }
        &:hover, &:focus {
            color: var(--text-color);
            background: var(--hover-bg);
            border-color: var(--results-border);
            info {
                opacity: 1;
            }
        }
        &:active {
            color: var(--accent-color);
            transform: translateY(.2rem);
        }
        &.active {
            color: var(--active-fg);
            background: var(--active-bg);
            border-color: var(--results-border);
            transform: translateY(0);
            cursor: default;
            info {
                opacity: 1;
            }
        }
    }
    .text-trim {
        width: calc(100% - 3.2rem);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
main secondary {
    overflow: hidden;
    column-gap: 1.5rem;
    keyring {
        row-gap: 1rem;
        width: 1rem;
    }
    toggle {
        row-gap: 1rem;
        tog {
            height: 3.56rem;
            width: 3.56rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--background);
            border: 1px solid transparent;
            border-radius: $radius;
            cursor: pointer;
            i.fa {
                opacity: .85;
            }
            &:hover, &:focus {
                color: var(--text-color);
                background: var(--hover-bg);
                border-color: var(--results-border);
                i.fa {
                    opacity: 1;
                }
            }
            &:active {
                color: var(--accent-color);
                scale: .9;
            }
            &.active {
                color: var(--active-fg);
                background: var(--active-bg);
                border-color: var(--results-border);
                scale: 1;
                cursor: default;
                i.fa {
                    opacity: 1;
                }
            }
            &.round {
                border-radius: 100%;
            }
        }
    }
    keynote {
        position: relative;
        width: 100%;
        background-color: var(--background);
        background: linear-gradient(135deg, var(--background) 50%, var(--accent-color-c) 70%, var(--accent-color) 90%);
        border: 1px solid var(--background);
        border-left: 2px solid var(--accent-color);
        border-radius: $radius;
        padding: 1rem;
        i.fa {
            color: var(--active-fg);
        }
        name {
            transform: translateX(-1px);
        }
    }
    a {
        position: relative;
        width: 100%;
        background: var(--background);
        border: 1px solid transparent;
        border-radius: $radius;
        cursor: pointer;
        name {
            font-size: .9rem;
        }
        dest {
            font-size: .7rem;
        }
        info {
            opacity: .85;
            padding: 1rem;
            row-gap: .2rem;
        }
        panel {
            z-index: 1;
            position: absolute;
            right: 1rem;
            column-gap: 1rem;
        }
        &:hover, &:focus {
            color: var(--text-color);
            background: var(--hover-bg);
            border-color: var(--results-border);
            info {
                opacity: 1;
            }
        }
        &:active {
            color: var(--accent-color);
            transform: translateY(.2rem);
        }
    }
    .text-trim {
        width: calc(100% - 3.2rem);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
titlecard {
    color: var(--titlecard-color);
    background: url(../img/titlecard.webp) 50%, linear-gradient(90deg,var(--accent-color),var(--accent-color-a));
    font-size: 1.3rem;
    /*text-shadow: 0 0 32px rgba(0,0,0,0.5);*/
    text-align: justify;
    padding: 1rem 15rem;
    /*transition: height $minimizedelay linear, padding $minimizedelay linear;*/
    @include resTitlePad(1399px, 4.5rem, justify);
    @include resTitlePad(759px, 6.5rem, justify);
    @include resTitlePad(540px, 1.5rem, center);
    /*
    &.minimize {
        height: 0;
        padding: 0;
        overflow: hidden;
    }*/
}
.fix-height {
    height: $headerHeight;
    min-height: $headerHeight;
}
.container {
    background: 0 0;
    width: 100%;
    padding: 1rem 2rem;
    color: var(--text-color);
    word-wrap: break-word;
    @media screen and (max-width: 540px) {
        padding: 1rem 1.5rem;
    }
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    &.flex-center-v {
        align-items: center;
    }
    &.flex-center-h {
        justify-content: center;
    }
    &.flex-space-between {
        justify-content: space-between;
    }
    &.justify-flex-end {
        justify-content: flex-end;
    }
    &.align-flex-end {
        align-items: flex-end;
    }
    &.flex-column {
        flex-direction: column;
        &.flex-reverse {
            flex-direction: column-reverse;
        }
    }
    &.flex-row {
        flex-direction: row;
        &.flex-reverse {
            flex-direction: row-reverse;
        }
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
    .flex-grow {
        flex: 1 0 auto;
    }
}
.search-box {
    @include searchBoxHome();
    background: var(--search-box-bg);
    height: 3rem;
    box-shadow:0 3px 0 0 var(--search-box-border);
    border-radius: $radius;
    input {
        background: transparent;
        border: 0;
    }
    input[type='text'] {
        width: 1rem;
        padding: .8rem 0 .8rem 1.2rem;
        font-family: inherit;
        font-size: 1rem;
        color: var(--text-color);
    }
    input[type='submit'], input[type='button'] {
        cursor: pointer;
        color: var(--search-button);
        padding: .8rem 1.2rem;
        &:hover, &:focus {
            color: var(--text-stark);
        }
    }
    &:hover, &:focus {
        input[type='submit'] {
            background: var(--search-box-hover);
        }
    }
    input[type='submit'] {
        border-radius: 0 $radius $radius 0;
        &.active {
            background: var(--search-box-hover);
        }
        &:hover, &:focus {
            color: var(--active-fg);
            background: var(--active-bg);
        }
    }
    &.results {
        width: 42rem;
        max-width: calc(100% - 2rem);
    }
}
.search-suggest {
    @include searchBoxHome();
    a {
        cursor: pointer;
        margin: .6rem;
        padding: .2rem .4rem;
        box-shadow:0 2px 0 0 var(--search-box-border);
        border-radius: $radius;
        background: var(--hover-bg);
        &:hover, &:focus {
            background: var(--search-box-bg);
        }
        &:active {
            color: var(--accent-color);
            transform: translateY(2px);
        }
    }
}
.pointer {
    cursor: pointer;
}
.logo-main {
    svg {
        height: 10rem;
        width: auto;
    }
}
.logo-side {
    svg {
        height: 2.5rem;
        width: auto;
    }
    @media screen and (min-width: 540px) {
        .no-txt {
            display: inherit;
        }
        .txt-right {
            display: none;
        }
    }
    @media screen and (min-width: 760px) {
        .no-txt {
            display: none;
        }
        .txt-right {
            display: inherit;
        }
    }
}
.logo-top {
    svg {
        height: 2.5rem;
        width: auto;
        max-width: 100%;
    }
    .no-txt {
        display: none;
    }
    .txt-right {
        display: inherit;
    }
    @media screen and (max-width: 290px) {
        .no-txt {
            display: inherit;
        }
        .txt-right {
            display: none;
        }
    }
}

.margin {
    &.m0 {
        &.left {
            margin-left: .5rem;
        }
        &.bottom {
            margin-bottom: .5rem;
        }
        &.right {
            margin-right: .5rem;
        }
    }
    &.m1 {
        &.left {
            margin-left: 1.5rem;
        }
        &.bottom {
            margin-bottom: 1.5rem;
        }
        &.right {
            margin-right: 1.5rem;
        }
    }
    &.m2 {
        &.left {
            margin-left: 2.5rem;
        }
        &.bottom {
            margin-bottom: 2.5rem;
        }
        &.right {
            margin-right: 2.5rem;
        }
    }
}
.font-light {
    font-weight: 300;
}

.noscroll {
    overflow: hidden;
}
.hide {
    display: none !important;
}
.invisible {
    visibility: hidden;
}

// Logo Colors
svg {
//.logo-main, .logo-side, .logo-top {
    .st1 {
        fill: var(--text-color);//#ffffff; // note
    }
    .st2 {
        fill: var(--accent-color); // nibba
    }
    .st00 {
        fill: var(--text-color);//#ffffff; // eyes
    }
    .st01 {
        fill: var(--accent-color); // body
    }
    .st02 {
        fill: var(--accent-color-a);//#6b6fcc; // body-2
    }
    .st03 {
        fill: var(--accent-color-b);//#505399; // body-3
    }
    .st04 {
        fill: var(--accent-color-c);//#353765; // body-4
    }
    .st05 {
        fill: var(--accent-color-a);//#6b6fcc; // hands
    }
    .st06 {
        fill: var(--accent-color-a);//#6b6fcc; // feet
    }
}