:root {
    --background: #1c1c1c;
    --search-button: #cccccc;
    --search-box-bg: #333333;
    --search-box-border: #161616;
    --search-box-hover: #444444;
    --results-background: #161616;
    --results-border: #00000000;
    --menu-shade: #00000065;
    --text-color: #eeeeee;
    --text-stark: #ffffff;
    --hover-bg: #242424;

    --titlecard-color: var(--results-background);
    --active-bg: var(--accent-color);
    --active-fg: var(--results-background);
}